@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:wght@500;600&display=swap');

ul {
    justify-content: space-between;
}

.add {
    background-color: #d8c2ba ;
}

.bg-image {
    background-image: url("/images/cafe3.jpg");
    background-position: center;
    background-size: cover;
}

.titreAccueil {
    font-family: 'Josefin Sans', sans-serif;;
}

.sousTitreAccueil {
    font-family: 'Amatic SC', cursive;
}

